.done-signup {
    position:absolute;
    top: 5%;
    left: 50%;
    opacity:0;
    transform:translate(-20%,20%) scale(1.25);
    width:380px;
    /* height: auto; */
    padding:20px 30px;
    background: white;
    box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.done-signup h2{
    text-align: center;
    color:black;
    margin: 20px 0px 20px;
    font-size: 20px;
}

.done-signup.active {
    top: 5%;
    opacity: 1;
    transform: translate(-50%, 50%) scale(1);
    z-index: 6;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.done-signup .close-btn {
    position:absolute;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }

.done-signup .done2 img{
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
    margin-bottom: 10px;
    /* margin: 20px 50px 20px 50px; */
    width: 120px;
    height: 120px;
    /* background-color: blueviolet; */
}

.done-signup .notification2 {
    height: 30px;
    display: flex;
    width: 280px;
    padding-bottom: 40px;
    background-color: #22577E;
    border-radius: 5px;
    align-items: flex;
    flex-direction: row;
    margin-left: 1.7rem;
}


.done-signup .notification2 h3 {
    padding-left: 10px;
    margin-top: 0.75rem;
    margin-bottom: 0.6rem;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: white;
}

.done-signup .notification2 img {
    margin-left: 10px;
    align-items: center;
    width: 20px;
    height: 20px;
    justify-content: center;
    margin-top: 0.65rem;
    /* margin-bottom: 0.6rem; */
}

.done-signup > button {
    margin-top: 1rem;
    margin-left: 3rem;
    width:70%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    background: #22577E;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.done-signup .btn-done2 {
    margin-top: 0.7rem;
    margin-left: 4rem;
    height: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    background-color: white;
    color: black;
    width: 50%;
    padding-left: 50px;
    border-radius: 50px;
    cursor: pointer;
}