
.pop-up-fp {
    position:absolute;
    top:5%;
    left: 50%;
    opacity:0;
    transform:translate(-50%,10%) scale(1.25);
    width:380px;
    padding:20px 30px;
    background: white;
    box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
  }
  
  .pop-up-fp.active {
    top: 5%;
    opacity: 1;
    transform: translate(-50%, 10%) scale(1);
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    z-index: 10;
  }
  
  .pop-up-fp .close-btn {
    position:absolute;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .pop-up-fp .form-fp h2{
    text-align: center;
    color:black;
    margin: 10px 0px 20px;
    font-size: 25px;
  }

  .pop-up-fp .form-fp p {
    text-align: center;
    color: black;
    font-size: 12px;
  }

  .pop-up-fp .form-fp .form-element h3{
    text-align: left;
    color: black;
    margin: 10px 0px 20px;
    font-size: 11px;
    font-weight: 400;
  }

  .pop-up-fp .form-fp .form-element {
    margin: 20px 10px;
    padding-right: 10px;
    /* display: flex; */
    /* justify-content: center; */
    color: black;
  }
  
  .pop-up-fp .form-fp .form-element .label {
    font-size: 14px;
    color: black;
  }
  
  .pop-up-fp .form-fp .form-element input[type="email"],
  .pop-up-fp .form-fp .form-element input[type="text"] {
    margin-top:5px;
    display:block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  .pop-up-fp .form-fp .form-element .send-email {
    margin-left: 35%;
    width:35%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    background: #387AAA;
    color:white;
    border-radius: 10px;
    cursor: pointer;
  }

  .pop-up-fp .form-fp .form-element .rtn-login {
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: black;
    border: none;
    margin-left: 7.5rem;
    margin-top: 0.8rem;
    justify-items: center;
  }
  