@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');
:root {
  --grey: #4a5568;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.navbar {
  background: whitesmoke;
  display: flex;
  height: auto;
  width: 100%;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  /* memisahkan konten di baris yg sama */
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
}

.navbar img{
  width: 4cm;
  margin-left: 30px;
}

.navbar .nav-menu a {
  text-decoration: none;
}

/* untuk spesific item selector */
.navbar > h1 {
  font-size: 20px;
  font-weight: 600px;
  color: #094067; 
  padding-left: 5%;
}

.nav-menu {
  display: flex;
  /* untuk auto margin */
  gap: 20px;
  /* background-color: blue; */
  padding-right: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.nav-menu p {
  padding: 10px 10px;
  margin-top: 1rem;
}

.navbar .nav-menu button {
  border-radius: 0.5rem;
  background-color: #3da9fc;
  color: black;
  width: fit-content;
  border-style: none;
  padding: 10px 10px;
  font-family: 'Inter';
  font-weight: 500;
  cursor: pointer;
  margin-top:1.3rem;
  margin-bottom: 1.3rem;
}

.nav-menu > a {
  display: flex;
  /* untuk auto margin */
  gap: 40px;
  padding-top: 1rem;
  /* padding-right: 5%; */
  background-color: #E8AA42;
  border-radius: 20px;
  width: 80px;
  justify-content: center;
}

.hero-container{
  display: flex;
  height: 400px;
  padding: 5% 4%;  
  background-color: whitesmoke;
  justify-content: space-between;
}

.hero-container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.hero-container h1 {
  font-size: 45px;
  font-weight: 700;
  width: 429px;
  color:#094067;
  margin-bottom: -10px; 
}

.hero-container p {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  color: var(--grey);
  margin-top: 1rem;
}

.hero-container > img {
  width: 50%;
  height: 323px;
  width: auto;
  align-self: center;
  margin-left: 9rem;
} 

.description {
  background: green;
  height: 243px;
  margin: 40px 0;
}

