* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* body {
    background:linear-gradient(to right, white, whitesmoke);
    font-family: "Raleway", sans-serif;
    height:5px;
} */

/* .center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.center button {
    padding:10px;
    font-size:15px;
    font-weight:600;
    color: black;
    border: none;
    outline: none;
    cursor:pointer;
    border-radius:5px;
} */

.pop-up-login {
    position:absolute;
    top:5%;
    left: 50%;
    opacity:0;
    transform:translate(-50%,10%) scale(1.25);
    width:380px;
    padding:20px 30px;
    background: #22577E;
    box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.pop-up-login.active {
    top: 5%;
    opacity: 1;
    transform: translate(-50%, 50%) scale(1);
    z-index: 100;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.pop-up-login .close-btn {
    position:absolute;
    top:10px;
    right: 10px;
    width:15px;
    height:15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.pop-up-login .form > h2{
    text-align: center;
    color:white;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.pop-up-login .form .form-element {
    margin: 15px 0px;
    color: white;
}

.pop-up-login .form .form-element .label {
    font-size: 14px;
    color: white;
}

.pop-up-login .form .form-element input[type="text"],
.pop-up-login .form .form-element input[type="password"] {
    margin-top:5px;
    display:block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.pop-up-login .form .form-element .btn-login {
    margin-left: 40%;
    width:20%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    background: #FFFFFF;
    color:#222;
    border-radius: 50px;
    cursor: pointer;
}

/* .pop-up-login .form .form-element a{
    display: block;
    text-align: right;
    font-size: 10px;
    color:white;
    text-decoration: none;
    font-weight:600;
} */

.pop-up-login .form .form-element b{
    display: block;
    padding-bottom: 15px;
    text-align: center;
    font-size: 10px;
    color:white;
    text-decoration: none;
    font-weight:600;
    cursor: pointer;
    padding-top: 15px;
}

.pop-up-login .form .form-element h4{
    display: block;
    padding-bottom: 15px;
    text-align: center;
    font-size: 10px;
    color:white;
    text-decoration: none;
    font-weight:600;
    cursor: pointer;
    /* padding-top: 15px; */
}

.pop-up-login .form .form-element .btn-signup2 {
    text-align: center;
    font-size: 15px;
    background-color: #22577E;
    color: whitesmoke;
    border: none;
    margin-left:3.8rem;
    margin-top: 0.8rem;
    justify-items: center;
}

.pop-up-login .form .form-element .btn-fp{
    display: block;
    font-size: 12px;
    background-color: #22577E;
    color: whitesmoke;
    border: none;
    margin-left:15rem;
    margin-top: 0.8rem;
}